



.col-12 span a{
    color: #0000008c;
    font-weight: 500;
    text-decoration: none;
}
.breadcrumb_last{
    color: #008000bf;
    font-weight: 500;
}
.col-sm-9 h3{
    text-decoration:upperset;
    color:#127812;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}
.col-sm-9 .content_pd{
    text-align: justify;
    text-transform: capitalize;
    
}

.product_new .col-4 .pd-name a {
    text-transform: uppercase;
    color: #334862;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
}
.product_new .col-4{
    margin-bottom: 30px;
}

.image-product p{
    border:solid 1px #00000023;
}

.row .text-center button a{
    text-decoration: none;
    color: white;
    font-size: 14px;

}
.row .text-center button a:hover{
    color: #255f00;
}
.text-center button{
    border: none;
    margin-top: 10px;
    background-color: #255f00;
    border-radius: 3px;
    padding: 5px;
    font-weight: 500;
}
.text-center button:hover{
    background: white;
    box-shadow: 0 2px 1px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%);

}
.pd-line a{
    color: #646970;
    text-decoration: none;
    font-size: 0.8em;
}
.pd-name a{
    text-transform: uppercase;
    color: #334862;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
}
.price-wrapper{
    color: black;
}
.text-pt ul li{
    font-size: 15px;
    color: #b2b2b2;
    list-style: none;
    display: inline-block;
    padding: none;
    margin: none;
   
}



.card-header{
    background-color:#0b6e0b !important;
    border-left:solid 15px #073507;
    text-transform:uppercase;  
}
.card-header a{
    color:white !important;
    font-weight:500;
}
.card-body{
    font-size:20px;
    color:#155608ba;
    padding:10px !important;
  
 
 }
 .card-body:hover{
    border-left:solid 4px green;
 }
 .card-body a{
    color:#64411d;
  
    text-decoration:none;

 }
 .card-body a:hover{
  
   color:#64411d;
    text-decoration:none;

 }

 .pd_new{
     height:80px
 }
 .pd_new .row .col-8 p{
     margin-bottom:0px !important;
     
 }
 .pd_new .row .col-8 p:first-child{
     text-transform: uppercase;
    color: #334862;
    font-size: 0.6em;
    font-weight: bold;
    text-decoration: none;
 }
 .pd_new .row .col-8 p:last-child{
     
    color: #7c0909;
    font-size: 0.6em;
    font-weight: bold;
    text-decoration: none;
 }


.pt_new{
     height:70px
 }
 .pt_new .row .col-8 p{
     margin-bottom:0px !important;
     
 }
 .pt_new .row .col-8 p:first-child{
     text-transform: uppercase;
    color: #334862;
    font-size: 0.6em;
    font-weight: bold;
    text-decoration: none;
 }
 .pt_new .row .col-8 p:last-child{
     
    color: #7c0909;
    font-size: 0.6em;
    font-weight: bold;
    text-decoration: none;
 }
 .pagination li{
    padding:0 5px;
    border:none;
}

.pagination {
  width: 400px;
  margin-left: 50px;
}
.pagination a {
  display: block;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}
 
.pagination a.active {
    background-color: #4CAF50;
    color: white;
}
 
.pagination a:hover:not(.active) {
  background-color: #ddd;
}



