.col-12 span a{
    color: #0000008c;
    font-weight: 500;
    text-decoration: none;
}
.breadcrumb_last{
    color: #008000bf;
    font-weight: 500;
}
.col-sm-9 h3{
    text-decoration:upperset;
    color:#127812 !important;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}
.col-sm-9 p{
    text-align: justify;
}
.col-sm-9 .content_pd{
    text-align: justify;
    text-transform: capitalize;
    
}
h4{
    text-align: center;
    text-transform: uppercase;
    font-family:fangsong;
    color:#0d390d;
   
    font-weight:700;
}